#img{
    margin-left: 52px;
}
#para{
    margin-top: 6px;
    margin-left: 51px;
}
#img2{
    margin-left: 52px;
}
#para2{
    margin-top: 11px;
    margin-left: 51px;
}
#btn{
    text-align: center;
    background-color: rgb(224, 217, 217);
    width: 52px;
}